@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --bg: #0f172a;
  --bg-white: #fff;
  --bg-lightwhite: #e5e7eb;
  --panel: #111827;
  --panel-2: #1f2937;

  --primary: #3b82f6;
  --primary-hover: #2563eb;

  --text: #f9fafb;
  --text-white: #fff;
  --text-black: #000;
  --text-theme: #f36f2e;
  --muted: #9ca3af;

  --border: #243042;
  --radius: 8px;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: var(--bg-white);
  color: var(--text-black);
}

.app {
  display: flex;
  height: 100vh;
}

.main {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 10px 14px;
  border-radius: var(--radius);

  font-size: 13px;
  font-weight: 500;
  font-family: inherit;

  border: 1px solid transparent;
  cursor: pointer;

  transition: all 0.15s ease;
  user-select: none;
}

.primary {
  background: var(--primary);
  color: var(--text-white);
}

.primary:hover {
  background: var(--primary-hover);
}

.secondary {
  background: var(--panel-2);
  color: var(--text);
  border-color: var(--border);
}

.secondary:hover {
  background: #243042;
}

.ghost {
  background: transparent;
  color: var(--text);
  border: 1px solid var(--border);
}

.ghost:hover {
  background: var(--panel-2);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:active {
  transform: scale(0.97);
}

/* focus acessível */
.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid var(--primary);
  outline-offset: 2px;
}

input,
textarea,
button {
  font-family: inherit;
}
