.task-list {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.task-list-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;

  color: var(--text-black);
}

/* grid opcional (fica melhor que lista vertical simples) */
.task-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}